[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==7.10.2"
parameterized = "==0.7.1"

[packages]
flask = "==1.1.1"
requests = "==2.22.0"
absl-py = "==0.9.0"
mecab-python3 = "==1.0.4"
jaconv = "==0.2.4"
tensorflow = "==2.7.0"

[requires]
python_version = "==3.8"
